@font-face {
    font-family: 'icomoon';
    src:  url('../assets/fonts/icomoon.eot?6ni5ov');
    src:  url('../assets/fonts/icomoon.eot?6ni5ov#iefix') format('embedded-opentype'),
      url('../assets/fonts/icomoon.ttf?6ni5ov') format('truetype'),
      url('../assets/fonts/icomoon.woff?6ni5ov') format('woff'),
      url('../assets/fonts/icomoon.svg?6ni5ov#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-home2:before {
    content: "\e901";
  }
  .icon-phone:before {
    content: "\e942";
  }
  .icon-mail:before {
    content: "\e945";
  }
  .icon-work:before {
    content: "\e9ae";
  }
  .icon-menu:before {
    content: "\e9bd";
  }
  .icon-internet:before {
    content: "\e9c9";
  }
  .icon-info:before {
    content: "\ea0c";
  }
  .icon-face:before {
    content: "\ea91";
  }
  .icon-twitter:before {
    content: "\ea96";
  }
  .icon-github:before {
    content: "\eab0";
  }
  .icon-linkedin:before {
    content: "\eac9";
  }