@import url('./font.css');
:root {
  --color-menu: #062844;
  --color-principal: #2289b4;
  --color-secundario: #79d8cb;
  --color-font-light: #f2f2f2;
  --color-font-dark: #333;
}

body {
  margin: 0px;
  border: 0px;
  font-family: 'Signika', sans-serif;
}

a {
  text-decoration: none;
}

navbar-option {
  --color-menu: #062844;
  --color-secundario-1: var(--color-secundario);
  --color-secundario-3: var(--color-font-light);
  --color-font-light: rgb(241, 231, 201);
  --color-font-light: #f2f2f2;
  --color-font-dark: #333;
  --logo-font-size: 40px;
  --title-font-size: 40px;
  --option-font-size: 25px;
  position: sticky;
  top: 0px;
  z-index: 1;
}
.nav-option{
  margin: 0px 0.5em;
}

.info {
  background-color: var(--color-principal);
  flex: 1;
  height: 80vh;
  display: flex;
  align-items: center;
}

.info__container {
  background-color: var(--color-font-light);
  width: 100vw;
  display: flex;
  justify-content: flex-end;
}

.info__container--text {
  font-size: 20px;
  color: var(--color-font-dark);
  background-color: var(--color-font-light);
  display: flex;
  flex-direction: column;
  width: 50vw;
}

.info__title,
.info__context {
  margin: 5vh 10%;
}

.info__title {
  font-size: 2em;
  margin-bottom: 0px;
}

.info__context {
  font-size: 1em;
  max-height: 40vh;
  line-height: 2em;
  overflow: scroll;
}

.work {
  display: inline-block;
  width: 100%;
  background-color: var(--color-secundario);
  margin: 0px;
  padding: 10px 0px;
}

.work__container {
  margin: 5vh 2.5vw;
  display: grid;
  grid-template-columns: repeat(3, calc(95vw / 3));
  grid-auto-rows: calc(95vw / 6);
}

.contact {
  background-color: var(--color-principal);
}

.contact__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 10vh 0px;
}

.contact__container--form {
  display: flex;
  margin: 20px;
  flex-direction: column;
  align-items: center;
}
.contact__container--form h3 {
  font-size: 1.5em;
  color: var(--color-font-light);
}

.contact__container--form label {
  width: 90%;
  font-size: 1.3em;
  color: var(--color-font-light);
  margin-bottom: 0.5em;
}
.contact__container--form div {
  width: 90%;
  padding: 5px 5%;
  background-color: var(--color-font-light);
  -webkit-box-shadow: 4px 4px 25px -4px rgba(0,0,0,0.75);
-moz-box-shadow: 4px 4px 25px -4px rgba(0,0,0,0.75);
box-shadow: 4px 4px 25px -4px rgba(0,0,0,0.75);
}
.contact__container--form input {
  border-color: transparent;
  background-color: transparent;
  width: 100%;
  min-width: 100px;
  outline: none;
}

.contact__container--form textarea{
  border-color: transparent;
  background-color: transparent;
  width: 100%;
  min-width: 100px;
  outline: none;
}
.contact__container--contact a {
  margin: 20px;
}
.contact__button{
  margin:10px auto;
  padding: 5px 10%;
  font-size: 16px;
  background-color: var(--color-menu);
  color: #f2f2f2;
  font-weight: 400;
  border-color: transparent;
  border-radius: 5px;
  font-size: 1.2em;
  font-weight: 900;
}
.contact__button:hover{
  border:3px solid #062844;
  cursor: pointer;
}

.social-link i {
  display: inline-block;
  font-size: 4em;
  color: var(--color-font-light);
}

.footer {
  flex: 1;
  height: 2em;
  background-color: var(--color-menu);
  color: var(--color-font-light);
  display: flex;
  align-items: center;
}

.footer p {
  margin: 0px 2vw;
}

@media screen and (max-width: 1024px) {
  .work__container {
    grid-template-columns: repeat(2, calc(95vw / 2));
    grid-auto-rows: calc(95vw / 4);
  }
}

@media screen and (max-width: 768px) {
  .work__container {
    grid-template-columns: 1fr;
    grid-auto-rows: calc(95vw / 2);
  }

  .info__container--text {
    font-size: 16px;
  }
}

@media screen and (max-width: 480px) {
  .info__container--text {
    width: 100vh;
  }
}

@media screen and (max-width: 320px) {
  .contact__container--form {
    margin: 0px;
  }
}
